<!doctype html>
<html ng-app="search">

<head>
    <meta charset="UTF-8">
    <title>Basic Angular</title>
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css" />
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="lib/js/modal.js"></script>
    

</head>

<body>
    <div ng-controller="SearchController as search">
        <p>Search:
            <input ng-model="query">
        </p>
        <div ng-repeat="collection in search.collections | filter:query">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="modalTrigger" data-toggle="modal" data-target="#modal-{{$index}}">
                <img ng-src="{{collection._id + '.jpg'}}" ng-show="collection.art.length" />
                <img src="placeholder.jpg" alt="placeholder" ng-show="!collection.art.length" />
                <p>{{collection.name}}</p>
            </div>
            </div>
            <div class="modal fade" id="{{'modal-'+$index}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>{{collection.name}}</h2>
                                <p class="col-xs-12">Artist: {{collection.artist}}</p>
                                <p class="col-xs-12">Guest Artists: {{collection.guests}}</p>
                                <p class="col-xs-12 col-sm-3">Year Released: {{collection.year}}</p>
                                <p col-xs-12 col-sm-6>Record Label: {{collection.label}}</p>
                                <p class="col-xs-12 col-md-3">Record Number: {{collection.recordNumber}}</p>
                                <div class="col-xs-12" ng-repeat="track in collection.tracks">
                                    <h3>{{track.title}}</h3>
                                    <p>{{track.lyrics}}</p>
                                    <p><a ng-href="{{collection._id + '.mp3'}}">Download {{track.title}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <script type="text/javascript" src="lib/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
</body>

</html>